@font-face {
  font-family: "Satoshi";
  src: url("fonts/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("fonts/Satoshi-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF Bold";
  src: url("fonts/Fontspring-DEMO-integralcf-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Satoshi", sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  padding: 0 100px;
}

/* header from here */
.sign-up-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: black;
  color: rgba(255, 255, 255, 0.85);
  font-size: 14px;
  height: 38px;
}

.sign-up-link {
  color: white;
  text-decoration: underline;
}

.close-btn {
  position: absolute;
  background-color: black;
  border: none;
  cursor: pointer;
  left: 90%;
}

.logo {
  display: flex;
  align-items: start;
  flex-wrap: nowrap;
  gap: 16px;
}

.nav-section {
  margin: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  gap: 40px;
}

.nav-links {
  display: flex;
  gap: 24px;
  list-style-type: none;
  white-space: nowrap;
  cursor: pointer;
}

#burger-menu-btn {
  border: none;
  background-color: white;
  display: none;
}

.search-bar {
  position: relative;
  width: 577px;
  height: 100%;
}

#search-button {
  display: none;
}

.search-bar img {
  position: absolute;
  left: 15px;
  top: 12px;
}

.search-input {
  width: 100%;
  height: 100%;
  padding: 0 40px;
  background-color: #f0f0f0;
  border-radius: 62px;
  border: none;
  cursor: pointer;
}

.profile {
  display: flex;
  gap: 14px;
  cursor: pointer;
}
.profile button {
  background-color: white;
  border: none;
  cursor: pointer;
}

/* advertise section from here */
.advertise {
  width: 100%;
  background-image: url("pictures/cover-photo-lg.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headline {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  font-family: "Integral CF Bold", sans-serif;
  font-size: 64px;
  min-width: 315px;
}

.description {
  color: rgba(0, 0, 0, 0.6);
  /* display: flex; */
}

.shop-btn {
  width: 210px;
  height: 52px;
  border-radius: 62px;
  border: none;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.statistics {
  display: flex;
  gap: 2rem;
  margin-bottom: 116px;
}

.digits {
  font-size: 40px;
  font-weight: bold;
}

.brands {
  background-color: black;
  margin-bottom: 4rem;
}

.cover {
  display: none;
}

.logos {
  width: 100%;
  max-height: 146px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 10px;
  padding: 40px 0;
  overflow: hidden;
}

/* new arrival section from here */
.new-arrivals {
  margin-top: 72px;
  width: 100%;
}

h2 {
  font-family: "Integral CF Bold", sans-serif;
  font-size: 48px;
  text-align: center;
}

.products-container {
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  overflow: hidden;
}

.product {
  max-width: 295px;
  flex-shrink: 0;
}

h3 {
  margin: 1rem 0 8px;
}
.price {
  font-size: 24px;
  font-weight: bold;
}

.old-price {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
}

.discount {
  color: rgba(255, 51, 51, 1);
  font-weight: 500;
  font-size: 12px;
  padding: 6px 14px;
  background-color: rgba(255, 51, 51, 0.1);
  border-radius: 62px;
}

.view-all {
  margin-top: 36px;
  text-align: center;
}
.view-all-btn {
  padding: 16px 54px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 62px;
  background-color: inherit;
  cursor: pointer;
}

.separator {
  margin: 64px 100px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.dress-style {
  margin-top: 80px;
  padding: 70px 64px 76px;
  background-color: rgba(240, 240, 240, 1);
  border-radius: 40px;
}

.styles-container {
  margin-top: 64px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  overflow: hidden;
}

/* happy customers section starts here */
.happy-customer {
  margin-top: 80px;
}

.review-heading {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.arrow-navigation {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
}

.arrow-navigation button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.reviews-container {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.review {
  width: 400px;
  padding: 28px 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  flex-shrink: 0;
}

/* footer section starts here */

.subscription-box {
  background-color: black;
  color: white;
  padding: 36px 64px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-50%);
}

.subscription-header {
  max-width: 551px;
  font-family: "Integral CF Bold", sans-serif;
  font-size: 40px;
  line-height: 45px;
}

.subscribe-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.subscribe-group input {
  padding: 12px 16px;
  padding-left: 52px;
  border-radius: 62px;
  width: 349px;
  background-image: url("icons/mailbox.svg");
  background-repeat: no-repeat;
  background-position: 10px;
}

#subscribe-btn {
  padding: 12px 16px;
  border-radius: 62px;
}

footer {
  width: 100%;
  background-color: rgba(240, 240, 240, 1);
  margin-top: 170px;
  padding-bottom: 70px;
}

footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.footer-nav-box {
  display: flex;
  align-items: start;
  justify-content: space-between;
  transform: translateY(-30px);
}

.general-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}

.general-info p {
  margin-block: 35px;
  max-width: 248px;
}

.socials {
  display: flex;
  gap: 12px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 26px;
}

h5 {
  letter-spacing: 3px;
  font-weight: 500;
  margin-bottom: 26px;
}

.footer-separator {
  margin-block: 50px 25px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.bottomline {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.payment-versions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1125px) {
  #search-button {
    display: inline-block;
    color: black;
  }

  .search-bar {
    display: none;
  }

  .advertise {
    background: none;
    background-color: rgba(242, 240, 241, 1);
  }

  .headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .cover {
    display: inline-block;
  }

  .statistics {
    margin: 0;
  }

  .styles-container {
    grid-template-columns: auto;
  }

  .subscription-box {
    flex-direction: column;
    gap: 32px;
    padding: 32px 24px;
  }

  .subscription-header {
    font-size: 32px;
  }

  .footer-nav-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    transform: translateY(-60px);
  }

  .general-info {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .general-info p {
    margin-block: 15px;
    max-width: 357px;
  }

  .footer-links {
    gap: 10px;
  }

  h5 {
    margin-bottom: 10px;
  }
}

@media (max-width: 800px) {
  * {
    font-size: 14px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  h3,
  h4 {
    font-size: 16px;
  }

  .nav-links {
    display: none;
  }

  .container {
    padding: 0 16px;
  }

  .close-btn {
    display: none;
  }

  #shop-logo {
    width: 126px;
    height: 24px;
    object-fit: fill;
  }

  #burger-menu-btn {
    display: inline-block;
  }

  .digits {
    font-size: 24px;
  }

  .bottomline {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

@media (max-width: 600px) {
  .shop-btn {
    width: 100%;
  }

  .view-all-btn {
    width: 100%;
  }
}
